<p>product works!</p>
<!-- <div *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Category ID: {{ product.categoryId }}</p>
    <hr />
  </div> -->
  <p>Lista de Produtos</p>
  @for (item of products; track $index){
    <ul class="list-group-item list-group-item-secondary">{{item.name}}</ul>
        <li class="list-group-item list-group-item-secondary">Description: {{item.description}}</li> 
        <li class="list-group-item list-group-item-secondary">Price: {{item.price}}</li>
        <hr />
    }
  