<div class="container my-0">
    <form [formGroup]="form" (ngSubmit)="saveProduct()" class="bg-light p-4 rounded shadow-sm">
      <h4 class="mb-4">Product</h4>
  
      <!--Name-->
  
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="name"
        />
      </div>
  
      <!--Description-->
  
      <div class="mb-3">
        <label for="description" class="form-label">Product Description:</label>
        <input
          formControlName="description"
          type="text"
          class="form-control"
          id="description"
          />
      </div>
  
      
      <!--Price-->
  
      <div class="mb-3 mt-3">
        <label for="price" class="form-label">Price:</label>
        <input
          formControlName="price"
          class="form-control"
          type="number"
          id="price"
          placeholder="Price in EUR"
        />
      </div>

      <!--Image-->
  
      <div class="mb-3 mt-3">
        <label for="imageUrl" class="form-label">Image:</label>
        <input
          class="form-control"
          name="image"
          type="file"
          id="imageUrl"
          placeholder="Upload image"
          (change)="onFileChange($event)"
          
        />
      </div>


        <!--Category-->
  
    <div class="mb-3">     
        <label for="category" class="form-label">Category:</label>
        <select
        formControlName="category"
        class="form-select"
        id="category"
      >
          <option [ngValue]="null" disabled>Select a category</option>
          @for (category of categories; track category.id){ 
            <option [ngValue]="category.id">
            {{ category.name }}
            </option>
          }
        
      </select> 
    </div>        
      <div class="mb-3 text-start">
        <app-button
          label="Save"
          type="submit"
          (onClick)="saveProduct()"
  
        ></app-button>        

        <app-button 
        label="Delete" 
        type="button"
        (onClick)="deleteProduct()"
        ></app-button>
      </div>
    </form>
  </div>
  

  