.container{
    color: #5e3b1c;
    background-color: #f2f7da;
    border-radius: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 8px;
    width: 100%;
    align-items: center;
}   
.alert{
    color: primary;
    
}