button {
    padding: 10px 40px;
    //4CAF50
    background-color: #f4a950;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 100px;
    text-align: center;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s;
  }
