<div class="container-fluid">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center w-100 mb-4 px-2">
    <div class="title text-center text-md-start mb-3 mb-md-0">
      <h2> Our Products </h2><br><br>
      <app-button 
      type="button"
      label="Create Product"
      [routerLink] = "['/product/create']"
      />
    </div>
  </div>


  <div class="gallery">
    @for (product of products; track product.id){
      <div>
      <app-product-card [product]="product" />
    </div>
    }
  </div>
</div>
