<div class="product-card">
    <div class="card-image">
    <img [src]="'http://localhost:8080/images/' + product.imageUrl" alt="{{ product.name }}">
    <div class="card-content">
      <h4>{{ product.name }}</h4>
      <p>{{ product.description }}</p>
      <strong class="price">EUR {{ product.price }}</strong><br>
      <button [routerLink]="['/product/', product.id]">View Details</button>
      <div class="product-actions">
        <button [routerLink]="['/product/update/', product.id]"
          class="icon-button edit"
        >
          <i class="bi bi-pencil"></i>
        </button>
    
        <button
          class="icon-button delete"
          (click)="deleteProduct()"
        >
          <i class="bi bi-trash"></i>
        </button>
    </div>
    @if (showAlert) {
      <div class="alert alert-info alert-dismissible fade show mt-3 rounded shadow-sm" role="alert">
        <strong>Product deleted.</strong><br>
        <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
      </div>
    }
  </div>
</div>

