.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2px;
    padding: 20px;
    margin: 0px auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  .lead {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  